[Desktop Entry]
Name=Godot Engine
Exec=__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia ~/Godot/Godot
Terminal=true
Type=Application
Icon=godot
StartupNotify=true
Terminal=true
Categories=Development;
